* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: url(./assets/assets/bg-mobile.jpg) no-repeat top center/cover;
    }
    body * {
        font-family: 'Inter', sans-serif;
        color: #ffffff;
    }
#container {
    width: 360px;
    border: 1px solid red;
    margin: auto;

}
#profile{
    text-align: center;
}
#profile img{
    width: 112px;
}
#profile p {
    font-weight: 500;
    line-height: 24px;
}
